@font-face {
  font-family: Pagella;
  src: url("../fonts/texgyrepagella-regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Pagella;
  src: url("../fonts/texgyrepagella-bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Pagella;
  src: url("../fonts/texgyrepagella-italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Pagella;
  src: url("../fonts/texgyrepagella-bolditalic.woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: BookInsanityRemake;
  src: url("../fonts/Bookinsanity.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: BookInsanityRemake;
  src: url("../fonts/Bookinsanity Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: BookInsanityRemake;
  src: url("../fonts/Bookinsanity Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: BookInsanityRemake;
  src: url("../fonts/Bookinsanity Bold Italic.woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: ScalySansRemake;
  src: url("../fonts/Scaly Sans.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ScalySansRemake;
  src: url("../fonts/Scaly Sans Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: ScalySansRemake;
  src: url("../fonts/Scaly Sans Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: ScalySansRemake;
  src: url("../fonts/Scaly Sans Bold Italic.woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: ScalySansSmallCapsRemake;
  src: url("../fonts/Scaly Sans Caps.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: WalterTurncoat;
  src: url("../fonts/WalterTurncoat-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MrEavesRemake;
  src: url("../fonts/Mr Eaves Small Caps.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SolberaImitationRemake;
  src: url("../fonts/Solbera Imitation Tweak.woff2");
  font-weight: 100 1000;
  font-style: normal;
  font-style: italic;
}

@font-face {
  font-family: NodestoCapsCondensed;
  src: url("../fonts/Nodesto Caps Condensed.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NodestoCapsCondensed;
  src: url("../fonts/Nodesto Caps Condensed Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: NodestoCapsCondensed;
  src: url("../fonts/Nodesto Caps Condensed Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: NodestoCapsCondensed;
  src: url("../fonts/Nodesto Caps Condensed Bold Italic.woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: NodestoCapsWide;
  src: url("../fonts/Nodesto Caps Wide.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Overpass;
  src: url("../fonts/Overpass Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Davek;
  src: url("../fonts/Davek.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Iokharic;
  src: url("../fonts/Iokharic.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rellanic;
  src: url("../fonts/Rellanic.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Elderberry-Inn";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/elderberryInn.woff2");
}
